name: Production Pypi
on:
  push:
    tags:
      - "*"
jobs:
  production-deploy:
    name: Pypi
    runs-on: ubuntu-latest
    if: "!contains(github.ref, '-')"
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: 3.9

      - name: Preparing the Environment
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then python -m pip install -r requirements.txt; else python -m pip install beautifulsoup4 requests pydantic expiringdict pytest; fi
  
      - name: Starting Testing Suites
        run: |
          ENMA_CACHING_STATE=disabled \
          pytest ./tests

      - name: Upload Report to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: pytest

      - name: Building and Deploying
        run: |
          python -m pip install build twine wheel setuptools_scm setuptools
          python -m build

      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: dist/
